{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "DiscordSettings": {
    "ID": "",
    "Secret": "",
    "RedirectURL": ""
  },
  "AllowedHosts": "*"
}
